<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoyin.system.mapper.SysDirMapper">

    <resultMap type="SysDir" id="SysDirResult">
        <id property="filedirId" column="filedir_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="filedirName" column="filedir_name"/>
        <result property="absolutPath" column="absolut_path"/>
        <result property="relativePath" column="relative_path"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentName" column="parent_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDeptVo">
        select d.filedir_id,
               d.parent_id,
               d.ancestors,
               d.filedir_name,
               d.absolut_path,
               d.relative_path,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.status,
               d.del_flag,
               d.create_by,
               d.create_time
        from sys_filedir d
    </sql>

    <select id="selectRoleDeptTree" parameterType="Long" resultType="String">
        select concat(d.filedir_id, d.filedir_name) as filedir_name
        from sys_filedir d
                 left join sys_role_dept rd on d.filedir_id = rd.dept_id
        where d.del_flag = '0'
          and rd.role_id = #{roleId}
        order by d.parent_id, d.order_num
    </select>

    <select id="selectDeptList" parameterType="SysDir" resultMap="SysDirResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="filedirId != null and filedirId != 0">
            AND filedir_id = #{filedirId}
        </if>
        <if test="absolutPath != null and absolutPath != ''">
            AND absolut_path = #{absolutPath}
        </if>
        <if test="relativePath != null and relativePath != ''">
            AND relative_path = #{relativePath}
        </if>
        <if test="parentId != null and parentId != 0">
            AND parent_id = #{parentId}
        </if>
        <if test="filedirName != null and filedirName != ''">
            AND filedir_name like concat('%', #{filedirName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by d.parent_id, d.create_time desc
    </select>

    <select id="checkDeptExistUser" parameterType="Long" resultType="int">
        select count(1)
        from sys_user
        where dept_id = #{filedirId}
          and del_flag = '0'
    </select>

    <select id="selectDeptCount" parameterType="SysDir" resultType="int">
        select count(1) from sys_filedir
        where del_flag = '0'
        <if test="filedirId != null and filedirId != 0">and filedir_id = #{filedirId}</if>
        <if test="parentId != null and parentId != 0">and parent_id = #{parentId}</if>
    </select>

    <select id="checkDeptNameUnique" resultMap="SysDirResult">
        <include refid="selectDeptVo"/>
        where filedir_name=#{filedirName} and parent_id = #{parentId} limit 1
    </select>

    <select id="selectDeptById" parameterType="Long" resultMap="SysDirResult">
        select d.filedir_id,
               d.parent_id,
               d.ancestors,
               d.filedir_name,
               d.absolut_path,
               d.relative_path,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.status,
               (select filedir_name from sys_filedir where filedir_id = d.parent_id) parent_name
        from sys_filedir d
        where d.filedir_id = #{filedirId}
    </select>


    <select id="selectDeptByRootPath" parameterType="String" resultMap="SysDirResult">
        select d.filedir_id,
               d.parent_id,
               d.ancestors,
               d.filedir_name,
               d.absolut_path,
               d.relative_path,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.status,
               (select filedir_name from sys_filedir where filedir_id = d.parent_id) parent_name
        from sys_filedir d
        where d.absolut_path = #{rootPath}
    </select>


    <select id="selectChildrenDeptById" parameterType="Long" resultMap="SysDirResult">
        select *
        from sys_filedir
        where find_in_set(#{filedirId}, ancestors)
    </select>


    <select id="selectChildrenAndMyselfDeptById" parameterType="Long" resultMap="SysDirResult">
        select *
        from sys_filedir
        where find_in_set(#{filedirId}, ancestors) or filedir_id = #{filedirId};
    </select>

    <select id="selectNormalChildrenDeptById" parameterType="Long" resultType="int">
        select count(*)
        from sys_filedir
        where status = 0
          and del_flag = '0'
          and find_in_set(#{filedirId}, ancestors)
    </select>

    <insert id="insertDept" parameterType="SysDir">
        insert into sys_filedir(
        <if test="filedirId != null and filedirId != 0">filedir_id,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="filedirName != null and filedirName != ''">filedir_name,</if>
        <if test="absolutPath != null and absolutPath != ''">absolut_path,</if>
        <if test="relativePath != null and relativePath != ''">relative_path,</if>
        <if test="ancestors != null and ancestors != ''">ancestors,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="leader != null and leader != ''">leader,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="status != null">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="filedirId != null and filedirId != 0">#{filedirId},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="filedirName != null and filedirName != ''">#{filedirName},</if>
        <if test="absolutPath != null and absolutPath != ''">#{absolutPath},</if>
        <if test="relativePath != null and relativePath != ''">#{relativePath},</if>
        <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="leader != null and leader != ''">#{leader},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="status != null">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>


    <insert id="insertDeptAndReturnId" parameterType="SysDir">
        <selectKey keyProperty="filedirId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() as filedir_id
        </selectKey>
        insert into sys_filedir(
        <if test="filedirId != null and filedirId != 0">filedir_id,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="filedirName != null and filedirName != ''">filedir_name,</if>
        <if test="absolutPath != null and absolutPath != ''">absolut_path,</if>
        <if test="relativePath != null and relativePath != ''">relative_path,</if>
        <if test="ancestors != null and ancestors != ''">ancestors,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="leader != null and leader != ''">leader,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="status != null">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="filedirId != null and filedirId != 0">#{filedirId},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="filedirName != null and filedirName != ''">#{filedirName},</if>
        <if test="absolutPath != null and absolutPath != ''">#{absolutPath},</if>
        <if test="relativePath != null and relativePath != ''">#{relativePath},</if>
        <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="leader != null and leader != ''">#{leader},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="status != null">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>


    <update id="updateDept" parameterType="SysDir">
        update sys_filedir
        <set>
            <if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
            <if test="filedirName != null and filedirName != ''">filedir_name = #{filedirName},</if>


            <if test="absolutPath != null and absolutPath != ''">absolut_path = #{absolutPath},
            </if>
            <if test="relativePath != null and relativePath != ''">relative_path = #{relativePath},
            </if>

            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where filedir_id = #{filedirId}
    </update>

    <update id="updateDeptChildren" parameterType="java.util.List">
        update sys_filedir set ancestors =
        <foreach collection="depts" item="item" index="index"
                 separator=" " open="case filedir_id" close="end">
            when #{item.filedirId} then #{item.ancestors}
        </foreach>
        where filedir_id in
        <foreach collection="depts" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.filedirId}
        </foreach>
    </update>

    <delete id="deleteDeptById" parameterType="Long">
        delete
        from sys_filedir
        where filedir_id = #{filedirId}
    </delete>

    <delete id="deleteChildrenDeptById" parameterType="Long">
        delete
        from sys_filedir
        where find_in_set(#{filedirId}, ancestors) or  filedir_id = #{filedirId}
    </delete>


    <update id="updateDeptStatusNormal" parameterType="Long">
        update sys_filedir set status = '0' where filedir_id in
        <foreach collection="array" item="filedirId" open="(" separator="," close=")">
            #{filedirId}
        </foreach>
    </update>

</mapper>